html body {
    height: 100%;  /* makes sure the body take the full height of viewport */
    margin: 0;
    background-image: url("/photos/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar .container-fluid .navbar-brand {
    font-family: "Frijole", system-ui;
    font-weight: 400;
    font-style: normal;
}

.main-title {
    font-family: "Frijole", system-ui;
    text-align: center;
    margin: 3%;
    font-weight: 800;
    font-size: 70px;
    font-style: normal;
}

.footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}