body {
    background-color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar {
    background-color: black;
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
}
#navbar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0; 
}
#navbar li {
    display: inline; /* Display items in a line */
    margin: 0 25px; 
    cursor: pointer; 
}
#navbar li:hover {
    text-decoration: underline; /* Underline on hover */
}

h1 {
    display: flex;
    color: blue;
    justify-content: center;
    margin-top: 5%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: thick dotted black;
    width: 20%;
    height: 40%;
    padding: 10px;
    margin: 5%;
}

section h2 {
    font-weight: bold;
}

#petsList {
    padding: 20px;   
}

li {
    padding: 5px;
}